body{
  
    font-family: "Inter", sans-serif;
    font-family: "Roboto Slab", serif;
   
    
}
.Header{
  box-sizing: border-box;
  border: 1px solid #446a2d;
  background-color: #FEF4EB;
   display: flex; 
  text-align: center; 
  padding: 10px;
  justify-content: space-between;
}
.image--logo{
    height: 100px;
    width: 100px;
}
.Header--title{
font-weight: bolder;
 color: #405843;

}

.Form {
margin-top: 30px;
text-align: center;
border-width: 1px;
color: antiquewhite;

}
.input--topText{
margin-right: 10px;
padding:10px 50px 10px 10px;
border-radius: 7px;

}
.input--buttomText{
  padding:10px 50px 10px 10px;
  border-radius: 7px;
  border-color: #446a2d;
  
}
.submit{
  margin-top: 20px;
  padding: 10px 70px;
  font-size: larger;
  border-color: #446a2d;
  color: #446a2d;
  border-radius: 7px;
  background-color:#FDF4EB ;
}
.Mems{
  position: relative;
}
.Mems--photo{
  max-width: 100%;
  border-radius: 3px;
}
.Mem--text{
  position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.Mems--topText{
  top: 0;
} 
.Mems--buttonText{ 
  bottom: 0;
}